<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header> 
        <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a> 
    </header>
    <br>
    Имя: <b>{{ first_name }}</b><br>
    Отчество: <b>{{ middle_name }}</b><br>
    Фамилия: <b>{{ last_name }}</b><br>
    Телефон: <b>{{ phone }}</b><br>
    Email: <b>{{ email }}</b>
</body>
</html>