<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <style>
        .main_cont {
            padding: 20px;
            display: flex;
            flex-wrap: wrap
        }
        .item_cont {
            margin: 10px;
            width: 320px;
            padding: 15px;
            border: 1px solid;
            background: #eee
        }
        a {
            text-decoration: none;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <header> 
        <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a> 
    </header>
    <h2>Полный список товаров</h2>
    <div class="main_cont">
        {% for item in items %}
        <a href= /item/{{ item.id }}> <div class="item_cont">
            <h3>{{ item.name }}</h3>
            <p>{{ item.brand }}</p>
            <p>{{ item.description }}</p>
        </div> <a>
        {% endfor %}
    </div>
</body>
</html>